MEMORY {
    ZP:     start = $0000, size = $0100, type = rw, file = "";
    #OAM:    start = $0200, size = $0100, type = rw, file = "";
    RAM:    start = $0100, size = $0580, type = rw, file = "";
    MUSIC_RAM:    start = $0680, size = $0080, type = rw, file = "";
    SCORE_RAM:    start = $0700, size = $0060, type = rw, file = "";
    VARS_RAM:    start = $0760, size = $0080, type = rw, file = "";
    HDR:    start = $0000, size = $0010, type = ro, fill = yes, fillval = $00;
    PRG:    start = $8000, size = $8000, type = ro, fill = yes, fillval = $00;
    CHR:    start = $0000, size = $4000, type = ro, fill = yes, fillval = $00;
}

SEGMENTS {
    ZEROPAGE: load = ZP;
    BSS:      load = RAM, type = bss;
    MUSIC_RAM: load = MUSIC_RAM, type = bss;
    SCORE_RAM: load = SCORE_RAM, type = bss;
    VARS_RAM: load = VARS_RAM, type = bss;
    HEADER:   load = HDR, type = ro;
    CHR:      load = CHR, type = ro;
    PRG_chunk1:        load = PRG, type = ro, align = $100;
    PRG_chunk3:        load = PRG, type = ro, start = $FF00;
    VECTORS:           load = PRG, type = ro, start = $FFFA;
}
